@model IEnumerable<Proyect.Models.titulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del titulo:
        </th>
        <th>
            Libro:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_titulo)
        </td>
        <td>
            @Proyect.Controllers.TituloController.nombreLibro(item.idlibro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idtitulo }) |
            @Html.ActionLink("Details", "Details", new { id = item.idtitulo }) |
            @Html.ActionLink("Articulo", "Index", "Articulo")
        </td>
    </tr>
}

</table>
