@model Proyect.Models.noticia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>noticia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_noticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_noticia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texto_notica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto_notica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idnoticia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
