@model IEnumerable<Proyect.Models.noticia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_noticia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.texto_notica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_noticia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.texto_notica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idnoticia }) |
            @Html.ActionLink("Details", "Details", new { id=item.idnoticia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idnoticia })
        </td>
    </tr>
}

</table>
