@model Proyect.Models.requisitos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>requisitos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_requisitos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_requisitos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_requisitos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_requisitos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idrequisitos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
