@model IEnumerable<Proyect.Models.usuario_tipo_usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Funcion
        </th>
        <th>
            Tipo usuario
        </th>
        <th>
            usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.funcion)
        </td>
        <td>
            @Proyect.Controllers.AsignarController.nombreTipoUsuario(item.idtipo_usuario)
        </td>
        <td>
            @Proyect.Controllers.AsignarController.nombreUsuario(item.idusuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idusuario })
        </td>
    </tr>
}

</table>
